*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/* =======================
====== Common Style ======*/

/* default section style */
section {
	width: 100%;
	min-height: 100vh;
	padding: 0 8.33%;
	padding-top: 115px;
}

/* section title style */
.section-title-info .title {
	font-size: 2.5rem;
	letter-spacing: 0.1rem;
	line-height: 3.375rem;
	color: #58595b;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	padding-left: 38px;
	position: relative;
}

.section-title-info .title::before {
	content: '';
	width: 100%;
	height: 100%;
	background: url('../images/section-title-icon.png') no-repeat;
	position: absolute;
	left: 0;
	top: 10px;
}

.section-title-info .title::after {
	content: '';
	height: 14px;
	width: 14px;
	background-color: #50b748;
	border-radius: 50%;
	position: absolute;
	bottom: 13px;
	left: 360px;
}

.section-title-info .sub-title {
	font-size: 1.125;
	letter-spacing: 0.015rem;
	line-height: 2.25rem;
	color: #50b748;
	font-weight: 700;
}

/* button style*/
.btn {
	border: 1px solid #50b848;
	background: transparent url('../images/hero-btn-icon.png') no-repeat;
	background-position: 75% 50%;
	padding-right: 60px;
	color: #fff;
	width: 220px;
	height: 64px;
	line-height: 64px;
	cursor: pointer;
	transition: all 0.3s;
}

/* =================
====== Navbar ======*/
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	border-bottom: 1px solid #dedede;
	position: fixed;
	left: 0;
	width: 100%;
	height: 115px;
	padding: 0 8.33%;
	z-index: 99;
	transition: background-color 0.3s;
}

.navbar-background {
	background-color: #fff;
}

.logo {
	width: 170px;
	height: 35px;
}

.logo img {
	width: 100%;
	height: 100%;
}

.main-menu {
	display: flex;
	align-items: center;
	margin-right: 5.79%;
	position: fixed;
	top: 0;
	right: -1250px;
	transition: right 0.3s;
}

.show-main-menu {
	right: 0;
}

.main-menu ul {
	list-style: none;
	display: flex;
}

.main-menu ul li {
	margin-right: 30px;
}

.main-menu ul a {
	text-decoration: none;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	color: #2e2e2e;
}

.main-menu .call-us {
	margin-left: 20px;
	color: #2e2e2e;
	border-left: 1px solid #50b848;
	padding-left: 20px;
}
.main-menu .call-us span {
	display: block;
	font-size: 0.75rem;
	letter-spacing: 0.075rem;
}
.main-menu .call-us strong {
	font-size: 1.15rem;
}

.main-menu button {
	margin-left: 50px;
	border: none;
	width: 354px;
	height: 115px;
	line-height: 115px;
	background-color: #78c370;
	color: #fff;
	font-size: 1.25rem;
	letter-spacing: 0.125rem;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

/* =======================
====== Hero Section ======*/
.hero-section {
	background: url('../images/hero-image.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 0;
}

.hero-content {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	height: 100vh;
}

.hero-content .intro {
	color: #50b848;
	font-size: 2.5rem;
	letter-spacing: 1.9rem;
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	margin-top: 60px;
}

.hero-content .title {
	color: #fff;
	font-size: 8.5rem;
	letter-spacing: 0.85rem;
	line-height: 1;
}

.hero-content .sub-title {
	color: #fff;
	font-size: 2.9rem;
	letter-spacing: 0.29rem;
	text-transform: none;
}

.hero-content button {
	margin-top: 60px;
}

.hero-content button:hover {
	background-color: #50b848;
}

.social-links {
	position: absolute;
	bottom: 7vh;
}

.social-links svg {
	fill: #fff;
	margin-right: 50px;
	cursor: pointer;
	transition: all 0.3s;
}

.social-links svg:hover {
	fill: #50b848;
}

/* ==================
====== Sidebar ======*/
.sidebar {
	width: 5.73%;
	height: calc(100vh - 115px);
	position: fixed;
	top: 115px;
	right: 0;
	border-left: 1px solid #eeeeee;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 99;
}

.sidebar .hamburger-menu {
	background-color: #50b848;
	margin-left: -2px;
	width: 102%;
	height: 115px;
	line-height: 125px;
	margin-top: -115px;
	text-align: center;
	cursor: pointer;
}

.sidebar .page-count {
	margin-top: 13vh;
	line-height: 3;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	text-align: center;
}

.page-count a {
	text-decoration: none;
	color: #777777;
}

.page-count-active {
	font-size: 1.5rem;
	color: #50b848;
	position: relative;
}

.page-count-active::after {
	content: '';
	position: absolute;
	width: 25%;
	height: 2px;
	background-color: #50b848;
	right: 0;
	top: 35px;
	padding: 0;
}

.sidebar .scroll-msg {
	margin-bottom: 7vh;
	color: #58595b;
	padding: 0 40%;
}
.sidebar .scroll-msg p {
	writing-mode: vertical-rl;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	letter-spacing: 0.15rem;
}

/* ========================
====== About Section ======*/
.about-section {
	background: url('../images/about-bg-white.png') no-repeat;
	background-attachment: fixed;
	background-position: 50% calc(50% + 63px);
	display: flex;
	align-items: center;
}

.about-section > div {
	width: 50%;
}

.about-content {
	padding-right: 9.5%;
}

.about-content .section-title-info .sub-title {
	padding: 50px 0;
}

.sub-title p {
	line-height: 1.5rem;
}

.about-content > p {
	font-size: 1rem;
	line-height: 1.75rem;
	color: #464646;
}

.about-content button {
	margin-top: 50px;
	background-color: #78c370;
	border: none;
}

.about-content button:hover {
	background-color: #50b848;
}

.about-image {
	padding-top: 8vh;
}

.about-image img {
	width: 100%;
	height: auto;
}

/* ========================
====== Services Section ======*/
.services-section .section-title-info {
	margin-top: 70px;
}

.services-card {
	margin: 100px 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 35px;
	height: 396px;
}

.services-card .card {
	background-color: #50b748;
}

.services-providing {
	background-color: #2e2e2e;
	height: 150px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	margin: 0 11%;
	padding-left: 60px;
	padding-right: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 1;
}

.services-providing-text {
	width: 500px;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	line-height: 2rem;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

.services-providing button {
	background-color: #78c370;
	border: none;
}

.services-providing button:hover {
	background-color: #50b848;
}

.services-providing button::before {
	content: '';
	position: absolute;
	background: url('../images/services-providing-design.png') no-repeat;
	width: 150%;
	height: 100%;
	top: 0;
	left: -195px;
	z-index: -1;
}
.services-providing button::after {
	content: '';
	position: absolute;
	background: url('../images/services-providing-eeceed-design.png') no-repeat;
	width: 150%;
	height: 100%;
	top: -2px;
	left: 84%;
	z-index: -1;
}
